<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390059490676-hs0ag3efqk40pirm0flrhje5otvvonh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390059490676-hs0ag3efqk40pirm0flrhje5otvvonh5</string>
	<key>API_KEY</key>
	<string>AIzaSyDSDS6Ft2qNEun5k9MwH-MIvUTE5rHq9xo</string>
	<key>GCM_SENDER_ID</key>
	<string>390059490676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>daniloRequena.LoginFirebase</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-e4764</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-e4764.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390059490676:ios:fd01173e85b373f0d04021</string>
</dict>
</plist>